@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

.container{
  width: 100%;
  min-height: 100vh;
  background: rgb(240, 240, 240);
  padding: 2vw 0;
  font-family: 'Mitr', sans-serif;
  position: relative;
  overflow-x: hidden;
}
.circle{
  position: absolute;
  width: 70vw;
  height: 70vw;
  background: rgb(48, 48, 48);
  box-shadow: inset 20px -20px 30px black;
  border: 0;
  top: -30vw;
  right: -20vw;
  border-radius: 50%;
}
.contentHeader{
  width: 90vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content{
  width: 85vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  box-shadow: 0 -30px 30px -30px rgba(0, 0, 0, .3);
}
.mainLogo{
  width: 20vw;
}
.txtTitle{
  position: absolute;
  right: 0;
  font-size: 5vw;
  color: white;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}
.txtO{
  width: 6vw;
}
.boxTableHead{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 5vw;
}
.boxTable{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 7vw;
}
.boxTable:hover{
  background: rgb(255, 24, 74);
  cursor: pointer;
}
.boxTable:hover > *{
  color: white;
}

.boxTable > *, .boxTableHead > *{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
}
.time{
  flex: 2;
  display: flex;
  flex-direction: column;
}
.marketCap{
  display: flex;
  flex-direction: column;
}
.marketCap span:nth-child(1){
  font-size: 1.1vw;
}
.marketCap span:nth-child(2){
  font-size: 1vw;
  color:rgb(190, 190, 190);
}
.launchDate{
  font-size: 1vw;
  color:rgb(190, 190, 190);
}
.boxTable:hover > div > .launchDate, .boxTable:hover > .marketCap span:nth-child(2){
  color: rgb(230, 230, 230);
}
.logo{
  width: 4vw;
}


/* Navbar */
.navbar{
  width: 85vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
.navbar span{
  background: white;
  width: 20vw;
  padding: 1.5vw 0;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5vw;
}
.navbar span:hover{
  background: #ff1649;
  color: white;
}
.navbar span.active{
  background: rgb(255, 22, 73);
  color: white;
}

@media only screen and (max-width: 1000px){
  .content{
    width: 90vw;
  }
  .contentHeader{
    width: 95vw;
  }
  .boxTableHead{
    height: 10vw;
  }
  .boxTable > *, .boxTableHead > *{
    font-size: 1.8vw;
  }
  .marketCap span:nth-child(1){
    font-size: 1.6vw;
  }
  .marketCap span:nth-child(2){
    font-size: 1.4vw;
  }
  .launchDate{
    font-size: 1.4vw;
  }
  .logo{
    width: 4.5vw;
  }

  .navbar{
    width: 90vw;
  }
}
@media only screen and (max-width: 500px){
  .content{
    width: 95vw;
  }
  .contentHeader{
    width: 100vw;
  }
  .mainLogo{
    width: 30vw;
  }
  .boxTableHead{
    height: 12vw;
  }
  .boxTable{
    height: 10vw;
  }
  .boxTable > *, .boxTableHead > *{
    font-size: 2.3vw;
  }
  .marketCap span:nth-child(1){
    font-size: 2.1vw;
  }
  .marketCap span:nth-child(2){
    font-size:1.9vw;
  }
  .launchDate{
    font-size: 1.9vw;
  }
  .logo{
    width: 6vw;
  }
  .txtTitle{
    right: 10px;
  }

  .navbar{
    width: 95vw;
  }
  .navbar span{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2.5vw 0;
  }
}